{% load staticfiles auth_tags %}

{% if request.user|has_group:"wonen" %}
    <li class="document document--add">
        <a href="{% url 'document_create' %}" class="document__new">
            <div class="document__icon-wrapper">
                <svg class="button__icon"  width="40" height="40" >
                    <use href="#add-document" xlink:href="#add-document"  width="40" height="40" />
                </svg>
            </div>
            <h3 class="document__name">Nieuw document</h3>
        </a>
    </li>
{% endif %}
